{
  "extends": "airbnb-base/legacy",
  "globals": {
    "firebase": true,
    "$": true,
    "User": true,
    "Messages": true,
    "Rooms": true
  },
  "rules": {
    "camelcase": [2, {"properties": "never"}],
    "func-names": ["error", "never"],
    "padded-blocks": 0,
    "no-console": 0,
    "no-multiple-empty-lines": [1, { "max": 2 }],
    "no-underscore-dangle": 0
  }
}
